@import "variables";

.comment-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.comment-item-body {
    font-size: 16px;
    margin: 4px;
    padding: 4px;
}

.all-comments{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: inherit;
}

.full-comment{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: -webkit-fill-available;
    height: auto;
    margin: 4px;
    padding: 3px;
    border-radius: 7px;
}

.comment-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    border-radius: 7px;
}


.comment-item-head {
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: $lightgrey;
    border-radius: 7px;
    width: auto;
    padding-right: 8px;
}


.comment-author {
    margin-left: 3px;
    font-size: 13px;
    font-weight: bold;
}

.comment-body {
    margin-left: 3px;
    font-size: 16px;
    margin-top: 5px;
}

.comment-actions {
    padding: 3px;
    margin-bottom: 3px;
    display: flex;
    padding-left: 8px;
}

.comment-like {
    width: auto;
    margin-right: 8px;
    font-size: 12.5px;
    font-family: Tahoma;
    color: #565656;
    font-weight: bolder;
}

.comment-time{
    width: auto;
    margin-right: 8px;
    font-size: 12px;
    font-family: Tahoma;
    color: #565656;
}

.comment-like:hover{
    text-decoration: underline;
    cursor: pointer;
}

.comment-input-full{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    padding-left: 8px;
}

#comment-input{
    border-radius: 18px;
    padding: 7px;
    padding-left: 9px;
    background-color: whitesmoke;
    margin-left: 4px;
    font-size: 16px;
    border: none;
}

.margin-top{
    margin-top: 6px;
}

.more-comment-actions {
    display: flex;
    align-items: center;
    height: 50px;
}

.more-comment-actions svg:hover{
    border-radius: 20px;
    background-color: $lightgrey;
    cursor: pointer;
}

.more-comment-actions svg{
width: 18px;
    height: 18px;
    padding: 4px;
}