@import 'variables';

.add-friend {
    font-size: 16px;
    border: none;
    padding: 0px 2px;
    border-radius: 6px;
    color: white;
    font-weight: 500;
}

// .add-friend:hover{
//     cursor: pointer;
//     background-color: inherit;
// }

// .cr-text {
//     font-size: 16px;
//     border: none;
//     padding: 0px 0px;
//     border-radius: 6px;
//     background-color: inherit;
//     color: white;
//     height: 100%;
//     /* font-weight: 600; */
//     width: 100%;
//     margin-left: 0px;
// }

.cr-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.profile-friends{
    width: 100%;
}

.friends-container-full {
    width: 900px;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 6px;
    margin-top: 7px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 7px;
    row-gap: 7px;
}

.friendObject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 436px;
    height: 98px;
    place-self: center;
    /* background-color: lightgrey; */
    border-radius: 10px;
    margin: 0px;
    border: 2px solid #f7f7f7;
}

.friend-identity {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    width: auto;
    height: auto;
    /* margin-right: 25px; */
    margin-left: 9px;
}

.friend-identity:hover{
    cursor: pointer;

}

.friendship-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}
.friend-pic {
    border-radius: 5px;
    /* max-height: 36px; */
    /* max-width: 36px; */
    /* min-height: 36px; */
    /* min-width: 36px; */
    /* margin-left: 6px; */
    /* margin-right: 3px; */
    height: 80px;
    width: 80px;
    margin-right: 7px;
}

.friend-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: #292929;
}

.firstname {
    margin-right: 5px;
}
.friend-location{
    color: rgb(41, 41, 41)
}

.remove-friend-button > svg {
    font-size: 22px;
    margin-right: 5px;
}

.remove-friend-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue-btn;
    color: whitesmoke;
    padding: 6px;
    border-radius: 4px;
    margin-right: 12px;
}

.remove-friend-button:hover{
    cursor: pointer;
    background-color: $hover-blue;
}

.rf-text {
    font-size: 18px;
    font-weight: 500;
}