@import 'variables';

.add-friend {
    font-size: 16px;
    border: none;
    padding: 0px 2px;
    border-radius: 6px;
    background-color: inherit;
    color: white;
    font-weight: 500;
}

.add-friend:hover{
    cursor: pointer;
    background-color: inherit;
}

.cancle-request {
    font-size: 16px;
    border: none;
    padding: 0px 0px;
    border-radius: 6px;
    background-color: inherit;
    color: white;
    height: 100%;
    /* font-weight: 600; */
    width: 100%;
    margin-left: 0px;
}

.cancle-request:hover{
    cursor: pointer;
    background-color: inherit;
}