.likes-display {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8px;
    font-size: 14px;
}

.first-liker, .second-liker, .like-comma, .likes-display-text{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-liker, .second-liker{
    font-weight: bold;
    color: #565656;
}

.first-liker:hover, .second-liker:hover{
    cursor: pointer;
    text-decoration: underline;
}

.like-comma{
    margin-right: 4px;
}

.likes-display-text{
    margin-left: 4px;
}