// classes nav-bar logo logout-btn fa fa-home
@import "variables";
.nav-bar {
    box-shadow: lightgrey 0px 0px, lightgrey 0px 1px 5px;
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    z-index: 9;
    top: 0;
}

.logout-btn{
    padding: 1px;
}

.logo-init {
    width: auto;
    height: auto;
    /* position: absolute; */
    top: 27px;
    left: 35px;
    font-size: 30px;
    padding: 9px;
    border-radius: 5px;
    margin-left: 8px;
    color: $blue-btn
}

/* Resize images */
.logo-init img {
    width: 250%;
    height: auto;
    position: relative;
}

.logo-init img:hover {
  cursor: pointer;
}

.home-icon {
    font-size: 38px;
    color: #1877f2;
    display: flex;
    width: 42px;
    border-bottom: thick;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    justify-content: center;
    top: 33px;
    height: auto;
    padding: 0px 5px 1px 5px;
    border-radius: 12px;
    margin-top: 2px;
}

a.nav-mid-2 {
    margin-left: -13px;
}

.home-icon-html{
    height: auto;
    width: 40px;
}
.home-icon:hover{
    cursor: pointer;
    background-color: $grey;
}

.user-profile-module {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 30px;
    position: absolute;
    right: 226px;
    top: 15px;
    border-radius: 44px;
    padding: 3px;
}

.user-profile-module img {
    border-radius: 170px;
    max-height: 26px;
    max-width: 26px;
    min-height: 26px;
    min-width: 26px;
    margin-left: 3px;
    margin-right: 3px;
}

.user-profile-module > p {
    height: 15px;
    width: auto;
    font-weight: bold;
    font-size: 14px;
    margin-left: 3px;
    margin-right: 11px;
    color: #565656;
    z-index: 1;
}

.user-profile-module:hover{
    cursor: pointer;
    background-color: $grey;
}

#arrow-drop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 12px 8px 8px;
    border-radius: 8px;
    font-size: large;
    width: 320px;
    height: auto;
    position: absolute;
    top: 47px;
    right: 3px;
    background-color: white;
    box-shadow: inset #e2e2e2 -1px 2px 0px 2px, #d4d4d4 -3px 6px 20px 9px;
}

#hide-drop{
    display: none;
}

.profile-dropdown {
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    padding: 9px 6px 6px 2px;
    position: relative;
}

.border-bottom{
    border-bottom: thin solid lightgrey;
    margin-bottom: 8px;
    margin-top: 8px;
}

.profile-dropdown > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 6px;
}

#padding{
    padding: 5px 0px 5px 5px;
    margin-left: 0px;
    margin-right: 4px;
    width: -webkit-fill-available;
}

.profile-dropdown:hover{
    background-color: $grey;
    cursor: pointer;
    border-radius: 7px;
}

.username{
    font-size: 19px;
    font-weight: bold;
}

.details{
    font-size: 16px;
    color: #6b6b6b;
}

a.profile-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.large-profile-pic{
    border-radius: 170px;
    max-height: 58px;
    max-width: 58px;
    min-height: 58px;
    min-width: 58px;
    margin-left: 3px;
    margin-right: 6px;
}

.create-icon {
    font-size: 26px;
    display: flex;
    width: 38px;
    height: 38px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 135px;
    top: 8px;
    z-index: 1;
    background-color: #e2e2e2;
    z-index: 1;
}

.create-icon:hover, .notif-icon:hover, dropdown-acc:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.notif-icon {
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-bottom: 0px;
    right: 93px;
    top: 9px;
    z-index: 1;
    background-color: #e2e2e2;
    width: 34px;
    height: 36px;
    border-radius: 40px;
    z-index: 1;
}

.dropdown-btn {
    padding: 1px;
    color: #424242;
}

.dropdown-btn:hover{
    cursor: pointer;
    background-color: $grey;
    border-radius: 5px;
}

.dropdown-acc {
    font-size: 25px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 9px;
    right: 48px;
    border-radius: 90px;
    align-items: center;
    z-index: 1;
    width: 38px;
    height: 38px;
    background-color: #e2e2e2;
    z-index: 1;
}

.arrow-back:hover{
    cursor: pointer;
    background-color: rgb(107, 107, 107);
}
.notif-back:hover{
    cursor: pointer;
    background-color: rgb(107, 107, 107);
}

.create-back:hover{
    cursor: pointer;
    background-color: rgb(107, 107, 107);
}


//////////

.nav-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0px;
}

.nav-mid {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    height: auto;
    width: 350px;
}
.nav-right {
    height: 100%;
    width: 100%;
}