// classes nav-bar logo logout-btn fa fa-home
@import "variables";
.nav-bar {
    box-shadow: lightgrey 0px 0px, lightgrey 0px 1px 2px;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    /* top: 0; */
    /* bottom: 0; */
    position: sticky;
    z-index: 9;
    margin-bottom: 12px;
}

.logout-btn{
    padding: 1px;
}

.logo-init {
    width: 168px;
    height: 122px;
}
/* Resize images */
.logo-init img {
    width: 100%;
    height: auto;
}

.logo-init img:hover {
  cursor: pointer;
}

.home-icon{
    font-size: 32px;
    color: blue;
    display: flex;
    width: 50px;
    border-bottom: thick;
    border: thick solid blue;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    justify-content: center;
    position: relative;
    top: 17px;
    padding-bottom: 0px;
}
.home-icon:hover{
    cursor: pointer;
    background-color: $grey;
}

.dropdown-acc{
    font-size: 32px;
    display: flex;
    width: 60px;
    justify-content: center;
    position: absolute;
    top: 28px;
    right: 2px;
    padding-bottom: 6px;
    border-radius: 90px;
    align-items: center;
    height: 40px;
}


.dropdown-acc:hover{
    cursor: pointer;
    background-color: $grey;
}

// .dropdown-acc-icon{

// }

#arrow-drop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 3px;
    border-radius: 8px;
    font-size: large;
    border: thin solid black;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 70px;
    right: 0;
}
#hide-drop{
    display: none;
}