.post-index-item{
    padding: 1px;
}

.post-item-li{
    // display: flex;
    // justify-content: center;
    // width: 554px;
    // align-items: center;
    // flex-direction: column;

    height: 69px;
    padding: 7px;
    position: relative;
}

.post-item-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    background-color: white;
    width: 580px;
    align-items: center;
    box-shadow: 0px 0px 0px 0, 0px 3px 5px 1px lightgrey;
    margin: 18px;
    position: static;
    height: auto;
}

.post-item-div p{
    width: auto;
    padding-left: 7px;
    font-size: 16px;
    font-family: sans-serif;
    height: auto;
    margin-top: 5px;
    margin-bottom: 3px;
}

.post-item-div span{
    padding-left: 7px;
    padding-right: 7px;
}

.poster-info {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.poster-name-create{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.poster-name-create + span{
    font-weight: bold;
    font-size: 16px;
}

.photos{
    height: auto;
    width: inherit;
}

.profile-pic{
    border-radius: 170px;
    max-height: 26px;
    max-width: 26px;
    min-height: 26px;
    min-width: 26px;
    // border: thin solid black;
    margin-left: 3px;
    margin-right: 3px;
}
.module-holder{
    display: flex;
    width: auto;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    border-top: thin solid #a2a2a2;
    border-bottom: thin solid #a2a2a2;
    padding: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 33px;
}

.module-holder span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.module-holder span:hover{
    cursor: pointer;
    background-color: #eeeeee;
    border-radius: 3px;
}

.comments-btn, .likes-btn p{
    color: #6b6b6b;
}

.likes-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    border-radius: 7px;
    height: 30px;
    padding: 4px;
    width: 94px;
}

.comments-btn p{
    margin-left: 4px;
}
.comments-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    border-radius: 7px;
    height: 30px;
    padding: 4px;
    padding-left: 15px;
    width: 107px;
}
.comment-icon{
    width: 26px;
    color: #6b6b6b;
    margin-right: 5px;
}
.like-icon{
    width: 26px;;
    color: #6b6b6b;
}
.likes-btn p{
    margin-left: 7px;
}

.active-btn{
    color: blue;
}