@import "variables";

.full-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: white;
    width: 100%;
}

.profile-cover{
    width: 920px;
    height: 370px;
    position: relative;
    top: -7px;
}

.profile-cover > img{
    width: 100%;
    height: 100%;
    border-radius: 11px;
}

.add-cover-photo {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 10px;
    background-color: white;
    padding: 5px 5px 2px 5px;
    border-radius: 6px;
    right: 70px;
    opacity: 0.84;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: system-ui;
    font-weight: 600;
}

.edit-photos-holder{
    width: auto;
    height: auto;
}

.add-cover-photo:hover, .add-cover-photo-label:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.add-cover-photo-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-cover-photo-label svg {
    font-size: 24px;
    margin-right: 6px;
}

.add-cover-photo-label > input{
    display: none;
}

.profile-prof-pic{
    position: absolute;
    bottom: -40px;
    right: 365px;
    height: 180px;
    width: 180px;
    padding: 6px;
    border: none;
    border-radius: 90px;
    background-color: white;
}

.profile-prof-pic > img{
    border-radius: 90px;
    border: none;
}

.add-profile-picture {
    width: auto;
    height: auto;
    position: absolute;
    bottom: -14px;
    background-color: whitesmoke;
    padding: 5px 5px 2px 5px;
    border-radius: 42px;
    right: 362px;
    /* opacity: 1.5; */
}

.add-profile-picture > svg {
    font-size: 30px;
}

.add-profile-picture:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.profile-bio-name {
    margin-top: 100px;
    border-bottom: thin solid black;
    width: 900px;
    padding-bottom: 13px;
}

.profile-name{
    font-size: 26px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
}

.profile-bio-noedit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-edit-btn{
    font-size: 14px;
    font-weight: bold;
    color: $hover-blue;
    padding: 5px;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0px 2px 17px;
}

.profile-edit-btn:hover{
    cursor: pointer;
    background-color: whitesmoke;
}

.profile-editor input {
    border-radius: 5px;
    width: 260px;
    height: 76px;
    border: none;
    background-color: #ececec;
    font-size: 16px;
    padding: 6px;
}

.profile-edit-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
    margin-bottom: 9px;
}

.edit-save, .edit-cancle{
    margin: 0px 5px;
    padding: 2px 4px;
    font-size: 14px;
    font-weight: bold;
    width: auto;
}

.edit-save:hover, .edit-cancle:hover{
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.edit-cancle:hover{
    background-color: $delete;
    color: white
}
.edit-save:hover{
    background-color: $green;
    color:white
}

.bio {
    font-size: 16px;
    margin-bottom: 5px;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile-friend-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 18px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    background-color: white;
    top: 641px;
}

.profile-nav-right {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-btn {
    width: 100%;
    height: 93%;
}



.profile-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: whitesmoke;
    font-weight: 500;
}

.profile-edit:hover{
    cursor: pointer;
    background-color: lightgrey;
}

.profile-edit > svg {
    font-size: 19px;
    margin-right: 3px;
}

// .profile-nav-right:hover {
//     background-color: $hover-blue;
//     border-radius: 4px;
//     cursor: pointer;
// }

.profile-friend-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $blue-btn;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    padding-left: 5px;
}

.profile-friend-btn:hover{
    cursor: pointer;
    background-color: $hover-blue;
}

.profile-friend-btn > svg {
    margin-right: 0px;
    font-size: 26px;
}

.profile-friend-btn > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 726px;
}

.profile-nav-left div {
    width: auto;
    margin-right: 20px;
    font-weight: bold;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-properties-16{
    padding: 0px 8px;
    border-radius: 4px;
}

.hover-properties-16:hover{
    background-color: lightgrey;
    cursor: pointer;
}

.active-profile-button{
    color: $blue-btn;
    border-bottom: thick solid $blue-btn;
    cursor: pointer;
    font-weight: 500px;
}