/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "variables";
@import "login_form";

html {
  height: auto;
}

body {
  font-family: sans-serif;
  background: $white;
  color:$black;
  font-size: 12px;
  height: auto;
  // height: 100%;
}

header {
  display: flex;
  justify-content: center;
  background-color: $raspberry;
  padding: 10px;

  img {
    width: 43px;
    height: 43px;
  }
}

#root {
  height: auto;
  // // 63px for header(43px picture, 10px padding), 40 px for padding
  // // height: calc(100% - 63px - 40px);
  // height: 100%;
  //   background-color: #f0f2f5;
  //   width: 100%;
  // background-color: #f0f2f5;
}

h2 {
    font-weight: bold;
    font-size: 60px;
    color: #1877f2;
    padding-bottom: 5px;
}

h3 {
    font-size: 24px;
    text-align: center;
    color: $black;
}

h4 {
    font-size: 24px;
    // text-align: center;
    color: $black;
}

.App {
  background-color: #f0f2f5;
  height: auto;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
