// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
.full-container{
    width: 900px;
    height: auto;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
}
.logo-icon{
    max-width: 100%;
    width: 488px;
    height: auto;
    display: block;
    position: relative;
    left: -269px;
    top: 53px;
}

.login-form-container {
    background-color: white;
    width: 400px;
    height: auto;
    margin: 3px;
    padding: 17px 17px;
    position: absolute;
    right: 0px;
    top: 139px;
    color: #EADEDB;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    box-shadow: 0 2px 4px, 0 8px 16px;
}

.login-form{
    padding: 6px;
    width: 400px;
    display: block;
    align-items: center;
    position: relative;
    left: 0;
    height: auto;
}

.login-form-div{
    width: auto;
    display: flex;
    height: 210px;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    border-bottom: lightgrey thin solid;
}

.login-input {
    width: 337px;
    height: 23px;
    padding: 12px;
    margin: 3px;
    border-radius: 11px;
    border: solid lightgrey thin;
    background-color: $grey;
}

.signup-input-fname{
    width: 337px;
    height: 23px;
    padding: 12px;
    margin: 3px;
    border-radius: 11px;
    border: solid lightgrey thin;
    background-color: $grey;
}

.signup-input-lname{
    width: 337px;
    height: 23px;
    padding: 12px;
    margin: 3px;
    border-radius: 11px;
    border: solid lightgrey thin;
    background-color: $grey;
}
.signup-input-email{
    width: 337px;
    height: 23px;
    padding: 12px;
    margin: 3px;
    border-radius: 11px;
    border: solid lightgrey thin;
    background-color: $grey;
}

.signup-input-pword{
    width: 337px;
    height: 23px;
    padding: 12px;
    margin: 3px;
    border-radius: 11px;
    border: solid lightgrey thin;
    background-color: $grey;
}

.btn-login {
    width: 360px;
    height: 45px;
    padding: 2px;
    border-radius: 11px;
    background: $blue-btn;
    color: white;
    font-weight: bold;
    font-size: 26px;
    border: $blue-btn;
}

.btn-login:hover{
    cursor: pointer;
    background-color: blue;
}

.btn-signup:hover{
    cursor: pointer;
    background-color: green;
}


.button-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px;
    width: 320px;
    right: 0;
    position: relative;
    top: 0;
}

.login-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 696px;
    left: -508px;
    width: 1927px;
    background-color: white;
    height: 221px;
}

.login-footer p{
    font-size: 18px;
}

.login-title{
    display: inline-table;
    position: relative;
    top: 315px;
    right: 601px;
    width: 584px;
    justify-content: center;
    flex-direction: column;
    height: 103px;
}

.on-error{
    border: thin solid red;
}