// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
.full-container{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-icon{
    max-width: 100%;
    width: 395px;
    height: auto;
    display: block;
    position: absolute;
    left: 30px;
    top: 0;
}

.login-title{
    display: inline-table;
    position: absolute;
    top: 320px;
    right: 545px;
    width: 584px;
    justify-content: center;
    flex-direction: column;
    height: 103px;
}


.login-form-container {
    background-color: white;
    width: 352px;
    height: auto;
    margin: 3px;
    padding: 0px 17px 17px;
    position: absolute;
    right: 90px;
    top: 100px;
    color: #EADEDB;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    box-shadow: 0 2px 4px, 0 8px 16px;
}

.login-form{
    padding: 0 6px 6px;
    width: 352px;
    display: block;
    align-items: center;
    position: relative;
    left: 0;
    height: auto;
}

.login-form-div{
    width: auto;
    display: flex;
    height: 210px;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    border-bottom: lightgrey thin solid;
}

.login-input {
    width: 323px;
    height: 23px;
    padding: 12px;
    margin: 3px;
    border-radius: 7px;
    border: solid lightgrey thin;
}

.login-input:focus{
    border-color: blue;
}

.btn-login {
    width: 324px;
    height: 45px;
    padding: 2px;
    border-radius: 11px;
    background: $blue-btn;
    color: white;
    font-weight: bold;
    font-size: 26px;
    border: $blue-btn;
}

.btn-login:hover{
    cursor: pointer;
    background-color: blue;
}

.btn-signup:hover{
    cursor: pointer;
    background-color: green;
}


.button-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px;
    width: 320px;
    right: 0;
    position: relative;
    top: 0;
}


.signup-input-fname{
    width: 337px;
    height: 23px;
    padding: 12px;
    margin: 3px;
    border-radius: 11px;
    border: solid lightgrey thin;
    background-color: $grey;
}

.signup-input-lname{
    width: 337px;
    height: 23px;
    padding: 12px;
    margin: 3px;
    border-radius: 11px;
    border: solid lightgrey thin;
    background-color: $grey;
}
.signup-input-email{
    width: 337px;
    height: 23px;
    padding: 12px;
    margin: 3px;
    border-radius: 11px;
    border: solid lightgrey thin;
    background-color: $grey;
}

.signup-input-pword{
    width: 337px;
    height: 23px;
    padding: 12px;
    margin: 3px;
    border-radius: 11px;
    border: solid lightgrey thin;
    background-color: $grey;
}

.login-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: white;
}

.login-footer p{
    font-size: 18px;
}

.on-error{
    border: thin solid red;
}