// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
.full-container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// .logo-icon{
//     max-width: 100%;
//     width: 395px;
//     height: auto;
//     display: block;
//     position: absolute;
//     left: 30px;
//     top: 0;
// }

.login-and-logo {
    display: flex;
    height: 500px;
    justify-content: space-around;
    align-items: center;
}

.login-text{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    width: 300px;
    height: auto
}

.login-form-container {
    background-color: white;
    width: 352px;
    height: auto;
    margin: 3px;
    padding: 0px 17px 17px;
    color: #EADEDB;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    box-shadow: 0 2px 4px, 0 8px 16px;
}

.login-form{
    padding: 0 6px 6px;
    width: 352px;
    display: block;
    align-items: center;
    position: relative;
    left: 0;
    height: auto;
}

.login-form-div{
    width: auto;
    display: flex;
    height: 210px;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    border-bottom: lightgrey thin solid;
}

.login-input {
    width: 323px;
    height: 23px;
    padding: 12px;
    margin: 3px;
    border-radius: 7px;
    border: solid lightgrey thin;
}

.login-input:focus{
    border-color: blue;
}

.btn-login {
    width: 324px;
    height: 45px;
    padding: 2px;
    border-radius: 11px;
    background: $blue-btn;
    color: white;
    font-weight: bold;
    font-size: 26px;
    border: $blue-btn;
}

.btn-login:hover{
    cursor: pointer;
    background-color: blue;
}

.btn-signup:hover{
    cursor: pointer;
    background-color: green;
}


.button-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px;
    width: 320px;
    right: 0;
    position: relative;
    top: 0;
}


.signup-input-fname{
    width: 337px;
    height: 23px;
    padding: 12px;
    margin: 3px;
    border-radius: 11px;
    border: solid lightgrey thin;
    background-color: $grey;
}

.signup-input-lname{
    width: 337px;
    height: 23px;
    padding: 12px;
    margin: 3px;
    border-radius: 11px;
    border: solid lightgrey thin;
    background-color: $grey;
}
.signup-input-email{
    width: 337px;
    height: 23px;
    padding: 12px;
    margin: 3px;
    border-radius: 11px;
    border: solid lightgrey thin;
    background-color: $grey;
}

.signup-input-pword{
    width: 337px;
    height: 23px;
    padding: 12px;
    margin: 3px;
    border-radius: 11px;
    border: solid lightgrey thin;
    background-color: $grey;
}

.login-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100px;
    background-color: white;
    padding: 11px 0px;;
}

.login-footer p{
    font-size: 18px;
    text-align: center;
    padding: 1px;
}

.btn-links {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 400px;
    height: 30px;
    margin-bottom: 4px;
}

.github-icon:hover, .LinkedIn-icon:hover, .Personalsite-icon:hover{
    cursor: pointer;
    color: $hover-blue
}

svg.github-icon {
    font-size: 32px;
    color: #58007d;
}

svg.LinkedIn-icon {
    font-size: 33px;
    margin: 0 10px;
    color: #58007d;
}

svg.Personalsite-icon {
    font-size: 34px;
    color: #58007d;
}

.on-error{
    border: thin solid red;
}

.login-pass-err{
    background-color: darkred;
    color: white;
    width: fit-content;
    border-radius: 4px;
    padding: 11px;
    position: relative;
    height: auto;
    font-size: 14px;
    top: -255px;
    right: 237px;
    box-shadow: 1px 3px 20px 3px #969696;
}

.login-pass-err2{
    background-color: darkred;
    color: white;
    width: fit-content;
    border-radius: 4px;
    padding: 11px;
    position: relative;
    height: auto;
    font-size: 14px;
    top: -291px;
    right: 237px;
    box-shadow: 1px 3px 20px 3px #969696;
}

.login-pass-side-err{
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid darkred;
    position: relative;
    bottom: 313px;
    right: 171px;
}

.login-pass-side-err2{
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid darkred;
    position: relative;
    bottom: 278px;
    right: 171px;
}

.login-email-err{
    background-color: darkred;
    color: white;
    width: fit-content;
    border-radius: 4px;
    padding: 11px;
    position: relative;
    height: auto;
    font-size: 14px;
    top: -310px;
    right: 270px;
    box-shadow: 1px 3px 20px 3px #969696;
}

.login-email-side-err{
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid darkred;
    position: relative;
    bottom: 381px;
    right: 171px;
}