$black :    #000000 ;
$white :    #FFFFFF ;
$grey:      #f0f2f5;
$darkgrey:      #b9b9b9;
$raspberry: #D2386C ;
$beige:     #F0EAD6;
$cream:     #F5D6C6;
$darkblue:  #343148;
$softblue:  #485167;
$palepink:  #E8B5CE;
$softbrown: #615550;
$likered:   #77212E;
$offwhite:  #EADEDB;
$green:     #42b72a;
$blue-btn:  #1877f2;
$logo-pink: #C62F7A;
$hover-blue:#183cf2;